* {
  font-family: "Open Sans", sans-serif;
}

div {
  font-size: 16px;
}

table {
  border-spacing: 0px 5px;
}

td {
  background-image: -webkit-linear-gradient(top left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: -moz-linear-gradient(top left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: -o-linear-gradient(top left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: -ms-linear-gradient(top left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: linear-gradient(top left, #f0ffe1, rgba(240, 255, 225, 0));
  padding: 0px 5px;
  font-size: 14px;
}

td:first-child {
  background-image: -webkit-linear-gradient(top left, #5ba622, #f0ffe1);
  background-image: -moz-linear-gradient(top left, #5ba622, #f0ffe1);
  background-image: -o-linear-gradient(top left, #5ba622, #f0ffe1);
  background-image: -ms-linear-gradient(top left, #5ba622, #f0ffe1);
  background-image: linear-gradient(top left, #5ba622, #f0ffe1);
  font-size: 12px;
  text-shadow: 1px 1px 1.5px white;
}

.removed > td {
  background-image: -webkit-linear-gradient(top left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: -moz-linear-gradient(top left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: -o-linear-gradient(top left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: -ms-linear-gradient(top left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: linear-gradient(top left, #ffc8c8, rgba(255, 200, 200, 0));
}

.removed > td:first-child {
  background-image: -webkit-linear-gradient(top left, #ca0000, #ffc8c8);
  background-image: -moz-linear-gradient(top left, #ca0000, #ffc8c8);
  background-image: -o-linear-gradient(top left, #ca0000, #ffc8c8);
  background-image: -ms-linear-gradient(top left, #ca0000, #ffc8c8);
  background-image: linear-gradient(top left, #ca0000, #ffc8c8);
}

.lang > td {
  background-image: none;
}

.nothing_new:last-child {
  display: block !important;
}

.nothing_new:last-child > td {
  background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
}
