<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://www.languagetool.org/webstart/web/">    
  <information>
		<title>LanguageTool</title>
		<vendor>Daniel Naber</vendor>
		<homepage href="http://www.languagetool.org/" />
		<icon href="LanguageToolBig.gif" />
		<offline-allowed />
		<shortcut>
			<!-- put a shortcut on the desktop -->
			<desktop />
			<!-- put shortcut in start menu too -->
			<menu submenu="LanguageTool" />
		</shortcut>
	</information>

	<security>
		<all-permissions />
	</security>
    
  <resources>
	<j2se version="1.7+" />
	$dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>