<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://www.languagetool.org/webstart/web/"
    href="$outputFile">
  <information>
		<title>LanguageTool</title>
		<vendor>Daniel Naber</vendor>
		<homepage href="http://www.languagetool.org/" />
		<icon href="LanguageToolBig.gif" />
		<offline-allowed />
		<shortcut>
			<!-- put a shortcut on the desktop -->
			<desktop />
			<!-- put shortcut in start menu too -->
			<menu submenu="LanguageTool" />
		</shortcut>
	</information>

	<security>
		<all-permissions />
	</security>
	<security>
    
  <resources>
    <j2se version="1.7+" />
     $dependencies
  </resources>
  
  <resources os="Windows" arch="x86">
		<jar href="hunspell-win32-x86.jar" download="lazy" />		
	</resources>
	<resources os="Windows" arch="amd64">
		<jar href="hunspell-win32-amd64.jar" download="lazy" />		
	</resources>
	<resources os="Linux">
		<jar href="hunspell-linux-i386.jar" download="lazy" />		
	</resources>		
	<resources os="Linux" arch="amd64">
		<jar href="hunspell-linux-amd64.jar" download="lazy" />		
	</resources>
	<resources os="Mac OS X" arch="i386">
		<jar href="hunspell-darwin-i386.jar" download="lazy" />		
	</resources>	
	<resources os="Mac OS X" arch="x86_64">
		<jar href="hunspell-darwin-amd64.jar" download="lazy" />		
	</resources>
	<resources os="Mac OS X" arch="ppc">
		<jar href="hunspell-darwin-ppc.jar" download="lazy" />		
	</resources>
  
  <application-desc main-class="$mainClass">
    <argument>1</argument>
    <argument>2</argument>
  </application-desc>
</jnlp>