*~
*sw?
*.iml
*.bak
.class
.classpath
.idea
.ignore
.project
.settings
.metadata
.vscode/
build
target
atomFeedChecksDB
derby.log
.surefire-*
.flattened-pom.xml
pom.xml.versionsBackup
pom.xml.asc
.DS_Store
languagetool-standalone/test.txt
languagetool-standalone/test_de.txt
languagetool-standalone/test_en.txt
/data/
languagetool-language-modules/nl/src/main/resources/org/languagetool/rules/nl/grammar-test-1.xml
.attach_pid*
bin/
