<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.languagetool.server.LogMapper">
    <insert id="logCheck">
        INSERT INTO check_log (date, day, user_id, matches, textsize, language) VALUES (#{date}, #{day}, #{user_id}, #{matches}, #{textsize}, #{language})
    </insert>
</mapper>