<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="SLF4J"/>
  </settings>
  <typeAliases>
    <typeAlias type="org.languagetool.server.DBGroup" alias="Group"/>
    <typeAlias type="org.languagetool.server.DBGroupMember" alias="GroupMember"/>
    <typeAlias type="org.languagetool.server.DBInvite" alias="Invite"/>
  </typeAliases>
  <plugins>
    <plugin interceptor="org.languagetool.server.LoggingInterceptor"/>
  </plugins>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <!-- send ping to keep connection alive -->
        <property name="poolPingQuery" value="/* ping */ select 1;"/>
        <property name="poolPingEnabled" value="true" />
        <property name="poolPingConnectionsNotUsedFor" value="600000" /> <!-- 10 minutes (in milliseconds), default wait_timeout in mysql is 28800 seconds = 8 hours -->
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="org/languagetool/server/DictMapper${premium}.xml"/>
    <mapper resource="org/languagetool/server/LogMapper${premium}.xml"/>
    <mapper resource="org/languagetool/server/GroupMapper${premium}.xml"/>
  </mappers>
</configuration>
