version: 2.1
orbs:
  shallow-checkout: expo/shallow-checkout@1.0.2
workflows:
  run_on_pull_request:
    jobs:
      - test-modules-job
  run_daily:
    triggers:
      - schedule:
          cron: "0 12 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-scheduled-job
  run_before-deployment:
    triggers:
      - schedule:
          cron: "30 16 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-scheduled-job
  run_nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-scheduled-job
commands:
  add-github-ssh:
    description: Avoid hosts unknown for github
    steps:
      - run: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  custom-checkout:
    description: My custom checkout
    steps:
      - shallow-checkout/checkout
      - run: cd $CIRCLE_WORKING_DIRECTORY && pwd && ls
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "/home/circleci/project/~/project/pom.xml" }}
            - v1-dependencies-
  get-diffs:
    description: Get diffs via git diff
    steps:
      - run: curl https://api.github.com/repos/languagetool-org/languagetool/pulls/"$CIRCLE_PR_NUMBER"/files | grep -oP '(?<="filename":\s{1}")[^"]*' > /home/circleci/github_diffs.txt || echo "No forked PR"
      - run: tail --lines=100 /home/circleci/github_diffs.txt
      - run: cd $CIRCLE_WORKING_DIRECTORY && git diff --name-only master.."$CIRCLE_BRANCH" > /home/circleci/git_diffs.txt
      - run: cd $CIRCLE_WORKING_DIRECTORY && git show --name-only --pretty="" >> /home/circleci/git_diffs.txt
      - run: tail --lines=100 /home/circleci/git_diffs.txt
  install-project:
    description: Run maven install
    steps:
      - run: cd $CIRCLE_WORKING_DIRECTORY && mvn -pl '!languagetool-rpm-package' clean install -DskipTests
      - run: cd $CIRCLE_WORKING_DIRECTORY && mvn dependency:go-offline
  install-project-full:
    description: Run maven install
    steps:
      - run: cd $CIRCLE_WORKING_DIRECTORY && mvn clean install -DskipTests
      - run: cd $CIRCLE_WORKING_DIRECTORY && mvn dependency:go-offline
  run-tests-on-diff:
    parameters:
      path_to_check:
        type: string
    steps:
      - run:
          name: Check diffs and test modules
          command: |
            if grep -q -e << parameters.path_to_check >>/.* /home/circleci/git_diffs.txt 
            then
              cd $CIRCLE_WORKING_DIRECTORY && mvn --projects << parameters.path_to_check >> test
            else
              echo "No changes detected in <<parameters.path_to_check>>"
            fi
  #      - run: grep -q -e << parameters.path_to_check >>/.* /home/circleci/git_diffs.txt && cd $CIRCLE_WORKING_DIRECTORY && mvn --projects << parameters.path_to_check >> test || echo "No changes detected in <<parameters.path_to_check>>"
  run-all-tests:
    steps:
      - run: cd $CIRCLE_WORKING_DIRECTORY && mvn test
executors:
  docker-openjdk8:
    docker:
      - image: circleci/openjdk:8-jdk
jobs:
  test-scheduled-job:
    executor:
      name: docker-openjdk8
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - custom-checkout
      - install-project-full
      - run-all-tests
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "/home/circleci/project/~/project/pom.xml" }}
  test-modules-job:
    executor:
      name: docker-openjdk8
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - custom-checkout
      - get-diffs
      - install-project
      - run-tests-on-diff:
          path_to_check: "languagetool-commandline"
      - run-tests-on-diff:
          path_to_check: "languagetool-core"
      - run-tests-on-diff:
          path_to_check: "languagetool-dev"
      - run-tests-on-diff:
          path_to_check: "languagetool-gui-commons"
      - run-tests-on-diff:
          path_to_check: "languagetool-http-client"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ar"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ast"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/be"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/br"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ca"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/da"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/de"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/el"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/en"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/eo"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/es"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/fa"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/fr"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ga"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/gl"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/is"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/it"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ja"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/km"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/lt"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ml"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/nl"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/pl"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/pt"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ro"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ru"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/sk"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/sl"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/sv"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/ta"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/tl"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/uk"
      - run-tests-on-diff:
          path_to_check: "languagetool-language-modules/zh"
      - run-tests-on-diff:
          path_to_check: "languagetool-office-extension"
      - run-tests-on-diff:
          path_to_check: "languagetool-server"
      - run-tests-on-diff:
          path_to_check: "languagetool-standalone"
      - run-tests-on-diff:
          path_to_check: "languagetool-tools"
      - run-tests-on-diff:
          path_to_check: "languagetool-wikipedia"
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "/home/circleci/project/~/project/pom.xml" }}
