<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %logger{36} %msg%n</pattern>
    </encoder>
<!--
    Uncomment if you want detailed information about the message
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n</pattern>
    </encoder>
-->
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
  </root>

<!--
  <logger name="org.languagetool" level="DEBUG"/>
-->
  <logger name="org.languagetool.rules.uk" additivity="false">
    <level value="debug"/>
    <appender-ref ref="stdout"/>
  </logger>
<!--
  <logger name="org.languagetool.tagging.disambiguation.uk" additivity="false">
    <level value="debug"/>
    <appender-ref ref="stdout"/>
  </logger>
-->

</configuration>
