[Desktop Entry]
Name=Language Tool
Icon=
X-KDE-Library=liblanguagetool
Type=Service
Commands=language
Comment=Language Tool
ServiceTypes=KDataTool
DataType=QString
DataMimeTypes=text/plain
