* {
  font-family: "Open Sans", sans-serif;
}

div {
  font-size: 16px;
}

table {
  border-spacing: 0px 5px;
}

tr {
  padding: 0px 5px;
  font-size: 14px;
}

td:first-child, span {
  font-size: 12px;
  padding-right: 5px;
}

td:first-child {
  vertical-align: top;
  white-space: nowrap;
}

tr:not([class="lang"]) > td:first-child {
  text-shadow: 1px 1px 1.5px white;
  text-align: right;
}

span {
  padding-bottom: 2px;
}

.new > td {
  background-image: -webkit-linear-gradient(left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: -moz-linear-gradient(left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: -o-linear-gradient(left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: -ms-linear-gradient(left, #f0ffe1, rgba(240, 255, 225, 0));
  background-image: linear-gradient(to right, #f0ffe1, rgba(240, 255, 225, 0));
}

.new > td:first-child {
  background-image: -webkit-linear-gradient(left, #5ba622, #f0ffe1);
  background-image: -moz-linear-gradient(left, #5ba622, #f0ffe1);
  background-image: -o-linear-gradient(left, #5ba622, #f0ffe1);
  background-image: -ms-linear-gradient(left, #5ba622, #f0ffe1);
  background-image: linear-gradient(to right, #5ba622, #f0ffe1);
}

td:last-child > div {
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: .5s linear .2s;
  -moz-transition: .5s linear .2s;
  -o-transition: .5s linear .2s;
  -ms-transition: .5s linear .2s;
  transition: .5s linear .2s;
}

td:last-child:hover > div {
  max-height: 1000px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1.5s linear .2s;
  -moz-transition: 1.5s linear .2s;
  -o-transition: 1.5s linear .2s;
  -ms-transition: 1.5s linear .2s;
  transition: 1.5s linear .2s;
}

.removed > td {
  background-image: -webkit-linear-gradient(left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: -moz-linear-gradient(left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: -o-linear-gradient(left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: -ms-linear-gradient(left, #ffc8c8, rgba(255, 200, 200, 0));
  background-image: linear-gradient(to right, #ffc8c8, rgba(255, 200, 200, 0));
}

.removed > td:first-child {
  background-image: -webkit-linear-gradient(left, #ca0000, #ffc8c8);
  background-image: -moz-linear-gradient(left, #ca0000, #ffc8c8);
  background-image: -o-linear-gradient(left, #ca0000, #ffc8c8);
  background-image: -ms-linear-gradient(left, #ca0000, #ffc8c8);
  background-image: linear-gradient(to right, #ca0000, #ffc8c8);
}

.modified > td {
  background-image: -webkit-linear-gradient(left, #ffedcf, rgba(255, 237, 207, 0));
  background-image: -moz-linear-gradient(left, #ffedcf, rgba(255, 237, 207, 0));
  background-image: -o-linear-gradient(left, #ffedcf, rgba(255, 237, 207, 0));
  background-image: -ms-linear-gradient(left, #ffedcf, rgba(255, 237, 207, 0));
  background-image: linear-gradient(to right, #ffedcf, rgba(255, 237, 207, 0));
}

.modified > td:first-child {
  background-image: -webkit-linear-gradient(left, #ffa300, #ffedcf);
  background-image: -moz-linear-gradient(left, #ffa300, #ffedcf);
  background-image: -o-linear-gradient(left, #ffa300, #ffedcf);
  background-image: -ms-linear-gradient(left, #ffa300, #ffedcf);
  background-image: linear-gradient(to right, #ffa300, #ffedcf);
}

.lang > td {
  background-image: none;
}

.nothing_new:last-child {
  display: block !important;
}

.nothing_new:last-child > td:first-child {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
}

.gray {
  font-size: 12px;
  color: gray;
}
